.card-wrapper {
    font-family: 'Raleway', sans-serif;
    background-size: cover;
    height: 400px;
    border-top: 2px solid white;
    border-left: 1px solid white;
}

.card-description {
    background: rgba(195, 195, 195, 0.6);
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 1%;
    text-shadow: 1px 0px 1px rgba(255, 255, 255, 0.5);
}

.card-description-wrapper {
    padding: 10%;
    padding-top: 3%;
}

.card-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(31, 105, 31, 0.6);
    font-size: 21px;
    display: none;
    color: white;
    height: 13%;
}

.card-wrapper:hover .card-overlay {
    display: block;
}

.overlay-option {
    cursor: pointer;
    height: 100%;
    line-height: 250%;
}

.overlay-option:hover {
    text-decoration: underline;
}

.card-icon {
    font-size: 35px;
    line-height: 200%;
}

.card-heart {
    color: #076F10;
    opacity: 0.7;
}

.card-heart:hover, .card-heart:active {
    opacity: 1;
    cursor: pointer;
}

.card-heart-number {
    font-size: 20px;
}

header {
    background-color: rgba(195, 195, 195, 0.6);
}

.risnjak {
    background-image: url("../images/risnjak.jpg");
}

.jezera {
    background-image: url("../images/pjezera.jpg"); 
}

.velebit {
    background-image: url("../images/svelebit.jpg");    
}