$cardFont: 'Raleway', sans-serif;
$cardColor1: rgba(7, 111, 16, 0.6);
$cardColor2: rgba(7, 111, 16, 1);
$cardColor3: rgba(255, 255, 255, 1);
$cardColor4: rgba(0, 0, 0, 1);
$textBackgroundColor: rgba(195, 195, 195, 0.6);